@media (max-width: 600px){
  body{
    grid-template-columns: 100% !important;
    grid-template-rows: auto !important;
  }
  .header{
    grid-column: 1/2 !important;
  }
  .menu{
    grid-row: 2/3 !important; 
    grid-column: 1/2 !important;
  }
  .main{
    grid-column: 1/2 !important;
    grid-row: 3/4 !important;
  }
  .right{
    grid-row: 4/5 !important;        
  }
  .footer{
    grid-column: 1/2 !important;
    grid-row: 5/6 !important;    
  }
}

body{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px auto 100px;
  grid-gap: 20px;
}
body div{
  text-align: center;
  background-color: rgb(65, 65, 255);
}
.header{
  grid-column: 1/4;
}

.menu{
  grid-row: 2/4;
}

.footer{
  grid-column: 2/4;
  grid-row: 3/4;
}