body{
  margin: 0px;
}
.container{
  width: 100%;
  height: 100vh;
}
h1{
  text-align: center;
  font-size: 200px;
}
ul{
  font-size: 30px;
  margin: 0px;
  list-style: none;
}
ul a{
  color: rgb(158, 158, 158);
  text-decoration: none;
}
ul a:hover{
  color: red;
}
h2{
  font-size: 80px;
  text-align: center;
}
.main{
background-color: #81f7ff;
}
.list{
  font-size: 33px;
  background-color: #6ef5ff;
}
.list h2{
  margin: 0px;
}
.div_list{
  display: block;
  position: absolute;
  left: 600px;
}
ol{
  font-size: 60px;
  margin: 0px;
}
.table{
  background-color: #5bf4ff;
}
.thead{
  font-weight: 700;
  font-size: 20px;
}
img{
  width: 80px;
}
caption{
  font-size: 35px;
  font-weight: 700;
  border: 2px solid black;
}
td{
  font-size: 20px;
  text-align: center;
}
h3{
  font-size: 15px;
}
.arrow{
  position: fixed;
  bottom: 0;
  right: 0;
}
.arrow a{
  color: black;
  font-size: 22pt;
}
.arrow a:hover{
  color: white;
}
table{
  margin: auto;
  width: 80%;
}
.desc{
  width: 60%;
}
.list_cart{
  position: relative;
  top: 200px;
}
