*{
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
header{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
  background-color: rgb(163, 163, 163);
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  align-items: center;
  width: 29%;
}
.buttons h1{
  display: inline-block;
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}
.buttons h2{
  margin: 0;
  margin-left: 25px;
  display: inline-block;
  font-size: 23px;
  color: blue;
  font-weight: 600;
}
.fa-sort-down{
  font-size: 18px;
}
.form{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 69%;
}
.form form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
#button_search{
  background-color: rgb(47, 47, 255);
  border: 0;
  color: white;
  padding: 5px;
}
#input_search{
  padding: 5px;
}
main{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.imgs{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10px; 
}
.imgs img{
  /* width: calc(100% + 40px); */
  width: 100%;
}
.otherImgs{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.otherImgs img{
  width: 22%;
  height: 100%;
  /* margin: 5px; */
}
.info{
  width: 45%;
}
.info h2,h3{
  margin: 0;
}
select{
  width: 100%;
  height: 35px;
  padding: 3px;
}
.quality{
  display: flex;
  align-items: center;
}
.info form div{
  padding: 7px 0;
}
.quality label{
  width: auto;
  margin-right: 30px;
}
.quality input{
  padding-left: 10px;
  width: 100%;
  height: 35px;
}

#buyNow{
  width: 100%;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: blue;
  border: none;
  padding: 15px 0;
}
.social{
  /* margin-top: 15px; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
.social input{
  width: calc(100%/3);
  height: 40px;
  font-size: 20px;
  background-color: grey;
  color: white;
  border: 1px solid white;
}
