input::placeholder{
  /* background-color: rgb(255, 82, 82); */
  border-radius: 5px;
  background-image: url("./img/man-user.png");
}
input{
  height: 30px;

}
fieldset{
  margin: auto;
  width: 400px;
}
label{
  width: 150px;
  display: inline-block;
}
.name::placeholder{
  background-image: url(../img/avatar.png);
  background-repeat: no-repeat;
  background-position: right;
}
.email::placeholder{
  background-image: url(../img/close-envelope.png);
  background-repeat: no-repeat;
  background-position: right;
}