body{
	background-color: #00ffff;

}
h1{
	text-align: center;
}
img{
	border-radius: 10px;
	height: 200px;
	width: auto;
	display: block;
}
ol{
	color: white;
	font-size: 20px;
	font-weight: 600px;
	background-color: red;
	font-family: 'Raleway', sans-serif;
}
ul{
	text-align: center;
	color: white;
	list-style: square;
	font-size: 20px;
	font-weight: 600px;
	background-color: blue;
	font-family: 'Charmonman', cursive;
}
div{
	display: block;
}