*{
  font-family: 'Roboto Condensed', sans-serif;
}

.fa-phone-volume{
  /* font-size: 35px; */
  margin-right: 5px;
}

body{
  background-image: url('../img/ceiling-clean-contemporary-1457842.jpg');
  background-size: 100%;
  padding: 0;
  margin: 0;  
}
.content{
  padding: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  flex-direction: row;
  height: 15vh;
  padding: 0px 30px;
  /* margin: 0 auto; */
  /* z-index: 10; */
}

.logo{
  width: 40%;
  /* background-color: black; */
}
.logo img{
  height: 100%;
}
.menu{
  width: 60%;
  /* background-color: rgb(80, 80, 80); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.HeaderButton{
  background-color: orangered;
  padding: 20px 20px;
}

#activeTab{
  color: orangered !important;
}

main{
  display: flex;
  min-height: 75vh;
  justify-content: center;
  flex-direction: column;

}
main h1{
  color: white;
  font-size: 130px;
  text-transform: capitalize;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.title{
  display: flex;
  align-items: flex-end;
  /* height: 20%; */
}

.form{
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

form input{
  border: 1px solid white;
  background-color: rgba(56, 56, 56, 0.5);
  height: 40px;
  width: 210px;
  padding-left: 20px;
  color: white;
}
form input::placeholder{
  color: white;
}

#Num{
  width: 90px;
}

#botton{
  /* padding: 15px; */
  height: 44px;
  padding: 0 15px;
  text-align: center;
  border: none;
  background-color: orangered;
}

.date{
  margin-left: 15px;
  display: flex;
  color: white;
  position: absolute;
  bottom: 20px;
  flex-direction: row;
  font-size: 10px;
}
.date h2{
  margin-left: 5px;
}
.color{
  color: orangered;
}