.left, .middle, .right{
  display: flex;
  width: calc(100%/3);
  height: 100vh;
  align-items: center;
  padding: 5px;
  /* background-color: red; */
}
#left_column{
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  width: 100%;
  height: calc(100vh/3);
  display: flex;
  background-color: red;
}
.middle{
  align-items: center; 
  flex-direction: column;
}

#null{
  width: 100%;
  height: calc(100vh/3);
}

#middle_top, #middle_bottom{
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  width: 100%;
  height: calc(100vh/3);
  display: flex;
  background-color: red;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}
a{
  text-decoration: none;
  color: white;
}