.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.circle{
    border: 3px solid black;
}
.a1{
    display: inline-flex;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    margin: 25px ;
}
.a2{
    display: inline-flex;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    margin: 25px ;
}
.a3{
    display: inline-flex;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    margin: 25px ;
}
.a4{
    display: inline-flex;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: 25px ;
}
.a5{
    display: inline-flex;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 25px ;
}
.a6{
    display: inline-flex;
    border-radius: 100%;
    width: 244px;
    height: 244px;
    margin: 25px;
}
/*   */
.top{
    margin-top: -7px;
    font-size: 20px;
    color: green;
    text-align: center;

}
.top_text{
    margin-left: -350px;
    margin-top: -530px;
    height: 500px;
    width: auto;
    /* margin-top: -600px; */
}
h1{
    color: black;
    font-size: 40px;
}
.right{
    margin-top: 176px;
    text-align: right;
    vertical-align: middle; 
}
.bottom{
    margin-top: 185px;
    text-align: center;
    vertical-align: bottom;
}
.left{
    margin-top: -75px;
    text-align: left;
    vertical-align: middle; 
}