*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.traficLight {
  background-color: grey;
  display: flex;
  width: 200px;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#redSpan {
  color: green;
}

#greenSpan {
  color: red;
}

.red, .green {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: darkgray;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content:  center;
  align-items: center;
}

.redActive{
  background-color: red;
}

.greenActive {
  background-color: green;
}

img{
  right: 95%;
  position: absolute;
  bottom: 0;
  height: 250px;
}

.imgTransitionFromLeft {
  right: 100px;
  -webkit-transition: right 3.5s ease-out 0.2s;
  -moz-transition: right 3.5s ease-out 0.2s;
  -o-transition: right 3.5s ease-out 0.2s;
  transition: right 3.5s ease-out 0.2s;
}

