body{
  background-color: aqua;
  display: flex;
  .panel{
    margin: auto;
    width: 400px;
    background-color: white;
    .title{
      justify-content: center;
      display: flex;
    }
    .forms{
      justify-content: center;
      display: flex;
      .userName{
        display: flex;
      }
      .password{
        display: flex;

      }
    }
  }
}

