<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/template.css">
  <title>Document</title>
</head>
<body>
  <div class="left">
    <div id="left_column">1</div>
    <div id="null"></div>
    <div id="left_column">5</div>
  </div>
  <div class="middle">
    <div id="middle_top">2</div>    
    <div id="middle_bottom">3</div>
    <div id="null"></div>
  </div>
  <div class="right">
    <div id="null"></div>
    <div id="left_column">4</div>
    <div id="left_column">6</div>
  </div>
</body>
</html>